* {
    margin: 0;
    box-sizing: border-box;


}

body {
    width: 100vw;
    height: 100svh;
}



#wrapper {
    width: 100%;
    height: 100%;
    background-color: #A9DEF9;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-evenly;
}

/*#wrapper>div {
    width: 30%;

    height: 80%;
    background-color: #D3F8E2;
    border: 1px solid black;
    padding: 0.8rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}*/

#form {
    height: 40%;
    background-color: #DFF2D8;
    padding: 1rem;

}

#gamesButton,
#charactersButton {
    height: 2.3rem;
    width: 5rem;
}

#counter {

    height: 30%;
    background-color: #7EBDC3;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

#counter>li {
    font-size: 1.3rem;
}

#counter>li {
    list-style: none;
}

h1 {
    background-color: #CED097;
}


#formContainer {
    width: 50%;
}

#gamesListContainer,
#charactersListContainer {
    border: 1px solid black;
    height: 90svh;
    width: 100%;
}

#gamesListContainer>.list {

    background-color: #C6DEA6;

}


#charactersListContainer>.list {


    background-color: #7EBDC3;


}

.list {
    height: 95.5%;
    width: 100%;
    background-color: #EDE7B1;
    list-style-type: none;
    list-style-position: inside;
    padding: 0;


}


.listItem {

    height: 2.5rem;
    background-color: #E4C1F9;
    text-align: left;
    padding: 0.5rem;
    border: 1px solid black;

}

button {
    height: 1.5rem;
    width: 3.5rem;



}